
{% extends "../Home/nav.html" %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bmr.css' %}">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <form action="/login" method="post">
                {% csrf_token %}
            <div class="bmrform">
                <label for="">UserName</label>
                <input type="text" name="username" class="form-control" >
                <label for="">Password</label>
                <input  type="password" name="password" class="form-control" >
                <button type="submit" class="btn btn-primary">Login</button>
                <p>{{error}} </p>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}