 /* CSS for the food items */
 .food-item {
    /* width: 300px; */
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .food-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .food-item p {
    margin: 5px 0;
  }

  .food-item .label {
    font-weight: bold;
  }

  .food-item .protein {
    color: green;
  }

  .food-item .fat {
    color: red;
  }

  .food-item .carbs {
    color: blue;
  }

  .food-item .calorie {
    color: rgb(226, 175, 9);
  }